@mixin fontTitle() {
	font-weight: 600;
	font-size: 60px;
	color: $colorWhite;
	letter-spacing: -0.11px;
	line-height: 1.05;
	margin-bottom: 40px;
}

@mixin fontBig() {
	font-weight: 600;
	font-size: 40px;
	color: $colorWhite;
	letter-spacing: -0.11px;
	line-height: 1.05;
}

@mixin fontHuge() {
	font-weight: 600;
	font-size: 120px;
	color: $colorWhite;
	letter-spacing: -0.11px;
	line-height: 1.05;
}

@mixin fontInfo() {
	font-weight: 300;
	font-size: 30px;
	color: $colorWhite;
	letter-spacing: -0.11px;
	line-height: 1.05;
}

@mixin fontInfoSmall() {
	font-weight: 300;
	font-size: 20px;
	color: $colorWhite;
	letter-spacing: -0.11px;
	line-height: 1.05;
}

@mixin fontLetter() {
	font-weight: 300;
	font-size: 16px;
	color: $colorMainDark;
	letter-spacing: -0.11px;
	line-height: 1.3;
}
