@import "../css/normalize";
@import "../css/variables";
@import "../css/mixins";
@import "../css/typography";
@import "../css/animations";

@font-face {
	font-family: "gt-walsheim";
	src: url("fonts/gt-walsheim-light.woff") format('woff');
	font-weight: 300;
}

@font-face {
	font-family: "gt-walsheim";
	src: url("fonts/gt-walsheim-regular.woff") format('woff');
	font-weight: 500;
}

@font-face {
	font-family: "gt-walsheim";
	src: url("fonts/gt-walsheim-bold.woff") format('woff');
	font-weight: 700;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	height: 100%;
}
html, body {
	font-size: 100%;
	background: $colorMainDark;
	font-family: 'gt-walsheim', sans-serif;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

h1,h2,h3,h4,h5,p {
	margin: 0;
}

.view {
	position: absolute;
	visibility: hidden;
	height: 100%;
	width: 100%;
	transition: all 0.4s ease-in-out;

	&.is-active {
		visibility: visible;
	}
	&.is-shaking {
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-name: shake;
	}
	&__wrapper {
		background: $colorMainDark;
		width: 100vw;
		height: 100vh;
		margin: 0 auto;
		@include absolutecenter($axis: "both");
		overflow: hidden;

		/* Desktop-Style */
		width: 1024px;
		height: 768px;
		border: 1px solid $colorWhite;
	}
	&__content {
		position: relative;
		height: 100%;
		width: 100%;
		padding: $sizeSpacerMain;

		&-question-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
		}
		&--question {
			padding: 86px $sizeSpacerMain 275px;
		}
	}
	&__title {
		@include fontTitle;
		@include absolutecenter($axis: "both");
		width: 620px;
		margin-top: ($sizeSpacerMain);
		opacity: 0;
		transition: all $animationDurationShort ease-in-out;
	}
	&__info {
		@include fontInfo;
		margin-top: -($sizeSpacerMain);
		opacity: 0;
		transition: all $animationDurationShort ease-in-out;
		&--call-to-scan {
			position: absolute;
			top: 122px;
			position: absolute;
			right: 99px;
		}
		&--icon-scan {
			position: absolute;
			top: 150px;
			position: absolute;
			right: 60px;
			transform: rotate(-40deg)
		}
	}
	&__question-static {

		&-content {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			visibility: hidden;

			&.is-visible {
				visibility: visible;
				.view__question-static-call-to-answer {
					opacity: 1;
					margin-top: 0;
				}
			}
		}
		&-call-to-answer {
			@include fontInfo;
			padding-top: $sizeSpacerMain;
			text-align: center;
			position: absolute;
			@include absolutecenter($axis: "x");
			opacity: 0;
			margin-top: -50px;
			transition: all 0.4s ease-in-out;
		}
		&-info {
			@include fontInfoSmall;
			position: absolute;
			bottom: ($sizeSpacerMain * 1.5);
			left: $sizeSpacerMain;
		}
		&-status-bar {
			&-wrapper {
				position: absolute;
				bottom: $sizeSpacerMain;
				left: $sizeSpacerMain;
				width: 904px;
			}
			background: $colorWhite;
			width: 0%;
			height: 8px;
			transition: width 0.3s ease-in-out;
		}
	}
	&--letter {
		left: 0;
		padding: $sizeSpacerMain;
		z-index: 300;
		margin-top: $sizeSpacerMain;
		opacity: 0;
		&.is-visible {
			visibility: visible;
			margin-top: 0;
			opacity: 1;
		}
	}
	&--welcome {
		&.is-active {
			.view__title, .view__info {
				margin-top: 0;
				opacity: 1;
			}
		}
	}
	&--level-setting {
		&.is-active {
			.product {
				margin-top: 0;
				opacity: 1;
			}
			.ethic-level-setting__wrapper {
				bottom: -$sizeSpacerMain;
				opacity: 1;
			}
		}
	}
}

.letter {
	width: 100%;
	height: 100%;
	background: $colorWhite;
	padding: $sizeSpacerMain / 2;
	transition: all 0.6s ease-in-out;
	z-index: 300;
	&.is-small {
		transform: scale(0.175);
		margin-top: 170px;
	}
	&__wrapper {
		position: absolute;
		width: calc(100% - 120px);
		height: calc(100% - 120px);
		overflow: hidden;
		bottom: $sizeSpacerMain;
		transition:height 2s steps(30,end);
		&.is-printing {
			height: calc(0% - 120px);
		}
	}
	&__content {
		float: left;
		height: 100%;
		&--left {
			width: 60%;
			border-right: 1px solid $colorMainDark;
			padding-right: $sizeSpacerMain / 2;
		}
		&--right {
			width: 40%;
		}
	}
	&__questions {
		padding-left: 17px;
	}
	&__question {
		@include fontLetter;
	}
	&__title {
		@include fontLetter;
		font-weight: 700;
		margin-bottom: $sizeSpacerMain/4;
	}
	&__text {
		@include fontLetter;
		margin-bottom: $sizeSpacerMain/4;
	}
	&__date {
		@include fontLetter;
		margin-bottom: $sizeSpacerMain/2;
	}
	&__stamp {
		width: 90px;
		height: 110px;
		border: 1px solid $colorMainDark;
		float: right;
	}
	&__address {
		@include fontLetter;
		margin-left: 30px;
		margin-top: 360px;
		font-style: normal;
		line-height: 1.5;
	}
	&__sender-lines {
		padding-right: $sizeSpacerMain;
	}
	&__sender-line {
		width: 100%;
		border-bottom: 1px solid $colorMainDark;
		margin-top: $sizeSpacerMain / 2;
	}
	&__call-to-print {
		position: absolute;
		background: $colorMainDark;
		width: 300px;
		height: $sizeSpacerMain;
		bottom: -($sizeSpacerMain);
		opacity: 0;
		transition: all 0.6s ease-in-out;
		padding: 12px;
		text-align: center;
		z-index: 100;
		@include absolutecenter($axis: "x");
		&-text {
			@include fontInfo;
		}
		&.is-visible {
			bottom: $sizeSpacerMain;
			opacity: 1;
		}
	}
}

.ethic-level-setting {
	position: relative;
	width: 100%;
	&__wrapper {
		position: absolute;
		opacity: 0;
		bottom: -($sizeSpacerMain * 2);
		width: calc(100% - 120px);
		transition: all $animationDurationShort ease-in-out;
	}
	&__title {
		@include fontTitle;
		position: absolute;
		bottom: 280px;
	}
	&__dots {
		position: absolute;
		bottom: $sizeSpacerMain;
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: space-between;

	}
	&__dot {
		width: 84px;
		height: 84px;
		border-radius: 100%;
		border: 1px solid $colorWhite;
		margin-bottom: 20px;
		background: $colorMainDark;
		&-wrapper {
			z-index: 100;
			&.is-selected {
				.ethic-level-setting {
					&__dot {
						background: $colorWhite;

						&-number {
							color: $colorMainDark;
						}
					}
				}
			}
		}
		&-number {
			@include fontBig;
			text-align: center;
			padding: 20px 0;
		}
		&-line {
			border-bottom: 1px solid $colorWhite;
			position: absolute;
			top: 41px;
			left: 0px;
			width: 90%;
			z-index: 1;
		}
		&-info {
			@include fontInfo;
			text-align: center;
		}
	}
}

.product {
	@include fontTitle;
	position: absolute;
	margin-top: -($sizeSpacerMain);
	opacity: 0;
	transition: all $animationDurationShort ease-in-out;
	&__title {
		@include fontInfo;
	}
}

.question {
	@include fontTitle;
	margin: 0;
	text-align: center;
	@include absolutecenter($axis: "y");
	visibility: hidden;
	&:before {
		content: "«";
	}
	&:after {
		content: "»";
	}
	&.is-active {
		visibility: visible;
	}
	&.is-animating-in {
		animation-duration: 0.4s;
		animation-fill-mode: both;
		animation-name: zoomIn;
	}
	&.is-animating-yes {
		animation-duration: 0.4s;
		animation-fill-mode: both;
		animation-name: zoomOutDown;
	}
	&.is-animating-no {
		animation-duration: 0.4s;
		animation-fill-mode: both;
		animation-name: zoomOut;
	}

}

.results {
	@include fontInfo;
	margin-bottom: 40px;
	&__title {
		@include fontTitle;
	}
	&__call-to-print {
		@include fontInfo;
		margin-top: 16px;
	}
}

.done {
	@include fontTitle;
	&__title {
		@include fontTitle;
	}
}

.answer {
	@include fontHuge;
	margin-top: 100px;
}
